<div class="row">
  <div class="input-group ui-toolbar">
    <span class="glyphicon glyphicon-chevron-left ui-toolbar-btn" (click)="goBack()"></span>
    <span class="ui-toolbar-title">Identification Request</span>
	</div>
</div>
<div class="row">
	<div class="panel panel-default ui-info-box">
	  <div class="panel-heading">Character Profile</div>
	  <table class="table table-nonfluid" *ngIf="profile"> 
	    <tbody>
	      <tr>
	        <td>World</td>
          <td>
            <span *ngIf="world">{{world?.name.en}}</span>
            <span *ngIf="!world">n/a</span>
          </td>
	      </tr>
	      <tr>
	        <td>Faction</td>
	        <td>{{profile?.faction.name.en}}</td>
	      </tr>
	      <tr>
	        <td>Name</td>
	        <td>{{profile?.name.first}}</td>
	      </tr>
        <tr>
          <td>Battle Rank</td>
          <td>{{profile?.battle_rank.value}}</td>
        </tr>
        <tr>
          <td>Online Status</td>
          <td *ngIf="onlineStatus">
            <span [ngSwitch]="onlineStatus.online_status">
              <span *ngSwitchCase="0" class="warning">Offline</span>
              <span *ngSwitchCase="1" class="success">Online</span>
            </span>
          </td>
          <td *ngIf="!onlineStatus">
            <span>n/a</span>
          </td>
        </tr>
        <tr *ngIf="profile?.outfit" >
          <td>Outfit Name</td>
          <td>[{{profile?.outfit.alias}}] {{profile?.outfit.name}}</td>
        </tr>
        <tr *ngIf="profile?.outfit" >
          <td>Outfit Rank</td>
          <td>{{profile?.outfit.member_rank}}</td>
        </tr>
	    </tbody>
	  </table>
	  <p *ngIf="!profile">loading</p>
  </div>
</div>

<div class="row" *ngIf="isLoggedIn">
  <div class="col-md-12">
    <div class="btn-group btn-group-justified" role="group">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default">Request for character identification</button>
		  </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <input type="text" class="form-control" [formControl]="testInput" placeholder="aaa">
  </div>
</div>
