@import '../view.common.scss';

.ui-toolbar-list > .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}

.ui-charactername {
  width: 1px;
  line-height: 100%;
  background-color: #FF00FF;
}
